<html>
<head>
	<title> API Use Charts </title>
</head>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
var server = "http://ec2-54-224-28-145.compute-1.amazonaws.com:5000";
</script>
<script src= "http://ec2-54-224-28-145.compute-1.amazonaws.com:5000/js/highcharts.js"> </script>
<script>
function createPieChart(id, chartData, chartName, chartTitle)
{
    $('#' + id).highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: chartTitle
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage}%</b>',
            percentageDecimals: 1
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    formatter: function() {
                        return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Article Keywords',
            data: chartData
        }]
    });
 
}


function createBarChart(id, chartData, chartName, chartTitle)
{
	console.log("here");
    $("#" + id).highcharts({
	chart: {
	    type: "bar"
	},

	title: {
	    text: chartTitle
	},
	xAxis: {
	    categories: chartData[0],
	    title: { text: null }
	},
	yAxis: {
	    min: 0,
	    title: {
		text: "relevance",
		align: "high"
	    },
	    labels: {
		overflow: "justify"
	    }
	},
	tooltip: {
	    valueSuffix: ""
	},
	plotOptions: {
	    bar: {
		dataLabels: {
		    enabled: true
		}
	    }
	},
	series: [{
	    name: "# of calls",
	    data: chartData[1]
	}]
    });
}   
</script>
<body>
<div id="graphs"></div>
</body>
<script>
<% for(var i=0; i<stats.length; i++) { %>
   var chartData = new Array();
   var label = new Array();
   var series  = new Array();
   chartData.push (label);
   chartData.push(series);
   var data = new Array();
   <% for (var j=0; j<stats[i].use_count.length; j++) { %>
      var name = "<%= stats[i].use_count[j].api %>";
      var time = new Date("<%= stats[i].use_count[j].time %>");
      if(data[name])
	data[name]++;
      else
	data[name] = 1;
   <% } %>
   for(name in data)
   {
	chartData[0].push(name);
	chartData[1].push(data[name]);
   }
   var div = document.createElement("DIV");
   div.id = "<%=stats[i]._id %>";
   //$("#graphs").appendChild(div);
   document.getElementById("graphs").appendChild(div);
   var apiuser_name = "<%= stats[i].name %>";
   createBarChart(div.id, chartData, apiuser_name, apiuser_name);
<% } %>

</script>

</html>