<% layout('layout'); -%>

<script>

function submitRecc()
{
	var slider = $("#slider").val();
	var article = $("#article").val();
	
	var url = "reccPost?slider=" + slider + "&article=" + article;
	window.location.href=url;
	//$.post("reccPost", $("#reccForm").serialize());

}
</script>


<form id="reccForm">
<h1> This system is not validated, so please make sure that you have logged in before attempting to see your reccomendations....</h1>
<label for="article"> If you would to use a specific article for reccomendations: (optional)</label>
      <input type="text" name="article" id="article" placeholder="Article URL"/>

<label for="slider"> Select what percentage of the reccomendation should come from facebook data: </label>
<input type="range" name="slider" id="slider" data-highlight="true" min="0" max="100" value="50">
<a href="#" data-role="button"  name="submit" id="submit" onclick="submitRecc()"> See your Reccomendations from facebook data</a>
</form>