<% layout('layout'); -%>

<script>

function submitRecc()
{
	$.post("reccPost", $("#reccForm").serialize());

}
</script>


<form id="reccForm">
      <label form="username"> Enter the user you wish to query:</label>
      <input type"text" name="username" id="username" placeholder="Username"/>

<label for="article"> If you would to use a specific article for reccomendations: (optional)</label>
      <input type="text" name="article" id="article" placeholder="Article URL"/>

<label for="slider"> Select what percentage of the reccomendation should come from facebook data: </label>
<input type="range" name="slider" id="slider" data-highlight="true" min="0" max="100" value="50">
<input type="button" name="submit" id="submit" value="Submit" onclick="submitRecc()"/>
</form>